<!-- parent div -->
<div class="flex h-screen flex-col overflow-hidden sm:flex-row">
    <!-- side bar section -->
    <section class="hidden sm:block">
        <section
            class="border-brand-text-light/5 shadow-brand-text-light/20 relative flex h-full min-w-48 flex-col justify-between border-2 bg-white p-4 shadow"
        >
            <!-- show sidebar based on role -->
            @if (role() === "ADMIN") {
                <side-nav [sideBar]="adminDashboardRoutes" />
            } @else if (role() === "FARMER") {
                <side-nav [sideBar]="farmerDashboardRoutes" />
            }

            <div class="w-full">
                <!-- future logout button -->
                <!--
                    -->
                <med-button
                    buttonText="Log Out"
                    loadingText="logging out"
                    (buttonClick)="logout()"
                />
            </div>
        </section>
    </section>

    <!-- main content wrapper -->
    <div class="flex h-screen flex-1 flex-col">
        <!-- scrollable content section -->
        <section class="flex-1 overflow-y-auto p-4 sm:w-full">
            <router-outlet />
        </section>
    </div>
</div>
